<div class="container header">

	<h1>WELCOME TO JESS' BLOG</h1>

	<h5>This is where I will be posting my blog updates for the Enspiral Dev Academy web development course</h5>

	<nav>
		<ul class="nav nav-tabs navigation">
		  <li role="presentation" class="active"><a href="/">Home</a></li>
		  <li role="presentation"><a href="/about">About</a></li>
		  <li role="presentation"><a href="/projects">Projects</a></li>
		  <li role="presentation"><a href="/blog">Blog</a></li>
		</ul>
	</nav>

</div>
