
html{
  background: url(../images/wallpaper.jpg) no-repeat center fixed;
  background-size: cover;
}

*{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:white;
	text-shadow: 3px 3px 3px #000000;
}

.header{
	text-align: center;
	margin-top:20px;
	margin-bottom: 10px;
	border-bottom: solid 1px white;
}

.blognav{
	display: block;
	empty-cells: show;
	border-bottom: none;
	width: 90%;
	border: solid 10px blue;
}

.bloglinks{
	background-color: rgba(10, 10, 10, 0.2);
	border: solid 10px green;
	width: 70%;
}

	.weekhead{
		padding-left: 1rem;
		text-align: right;
		border-style: none;
		width: 20%;
		border: solid 10px red;
		/*position: relative;*/
	}

	.weekbody{
		/*display: -webkit-flex;*/
		display: inline-flex;
		flex-wrap: wrap;
		padding-bottom:1.5rem;
		border: solid 10px red;
	}

		a{
			text-decoration: none;
			font-size: 1.5em;
			color: white;
			padding-right: 20px;
		}

@media (max-width: 550px){
	a{padding-right: 0px;}
}
