
html{
  background: url(../images/wallpaper.jpg) no-repeat center fixed;
  background-size: cover;
}

*{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:white;
	text-shadow: 3px 3px 3px #000000;
}

/**/
/***HOMEPAGE STYLING***/
/**/

.header{
	text-align: center;
	margin-top:20px;
	margin-bottom: 10px;
	width: 90%;
	margin-left:5rem;
	border-bottom: solid 1px white;
}

.blognav{
	position: relative;
	display: block;
	border-bottom: none;
	width: 90%;
}

.weekhead{
	padding-left: 1rem;
	text-align: right;
	border-style: none;
	width: 20%;
}

.bloglinks{
	background-color: rgba(10, 10, 10, 0.3);
	width: 80%;
}

	.weekbody{
		display: flex;
		flex-wrap: wrap;
		padding-bottom:2rem;
		padding-left:1rem;
	}

		a{
			text-decoration: none;
			font-size: 1.5em;
			color: white;
			padding-right: 20px;
		}

@media (max-width: 550px){
	a{padding-right: 0px;}
	.weekhead{visibility: hidden;}
}

/**/
/***BLOG PAGE STYLING***/
/**/

.blogheader{
	text-align: center;
	margin-top:20px;
	margin-bottom: 10px;
}

	.pagetitle{
		text-transform: uppercase;
		margin-top: 50px;
		padding: 10px 0px;
		border-top: solid 1px white;
		border-bottom: solid 1px white;
	}

	.date{
		float:left;
	}

	#home{
		float:right;
	}

.blog{
	overflow-x: auto;
		background-color: rgba(10, 10, 10, 0.2);
		padding: 2rem;
}

	.q{font-style: italic;}
